<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }} " defer>
    <title>Home</title>
</head>
<html>
    <body>
        <section class="albumMosaicContainer">
            {% for album in albums %}
            <div class="albumContainer">
                <a href="{{ album.link_to_album }}" target="_blank">
                    <img src="{{ album.image }}" class="albumCoverItem">
                </a>
            </div>
            {% endfor %}
        </section>
    </body>
</html>